.hero-title-section {
  margin-bottom: 80px;

  > img {
    width: 100%;
    height: auto;
    display: block;
  }
  .title-copy {
    position: relative;
    top: -24px;
    @include tenWideCenter();
    text-align: center;

    .icon-logo {
      display: block;
      margin: 0 auto 42px;
      color: $gold;

      &:before {
        font-size: 65px;
      }
    }
    .article-type-date {
      margin-bottom: 40px;

      .date {
        display: inline-block;
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1em;
        letter-spacing: 0;
      }
    }
    .article-title {
      margin-bottom: 0;
    }
    .article-author {
      margin-bottom: 45px;
    }
    .article-route {
      position: relative;
      display: inline-block;
      padding: 5px 0;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $gold;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
    }
    .intro {
      padding: 100px 0;
    }
  }

  &.portrait {
    position: relative;
    @include tenWideCenter();

    img.hero {
      max-width: 400px;
      margin: 0 auto;
    }

    @media (min-width: $mobile) {
      padding-top: 80px;

      img.hero {
        display: inline-block;
        max-width: none;
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
      }
      .icon-logo {
        display: none;
      }
      .title-copy {
        z-index: 2;
        top: 0;
        display: inline-block;
        margin: 0;
        width: 66%;
        text-align: left;
        padding: 80px 0 0;

        // .intro {
        //   padding: 100px 0;
        // }
      }
    }
  }
}


.article-section {
  @include tenWideCenter();

  p {
    margin-bottom: 15px;
    font-size: 1rem;

    &.intro {
      font-size: 1rem;
    }
  }
  > p {
    &.first-line {
      &:first-line {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    &:last-child {

      &:after {
        font-family: 'yall-icons';
        content: $icon-logo-gold;
        position: relative;
        top: -3px;

        display: inline-block;
        margin-left: 10px;
        padding-top: 2px;
        font-size: 11px;
        line-height: 20px;
        width: 22px;

        color: $white;
        background-color: $text-color;
        border-radius: 50%;
        text-align: center;
      }
    }
  }

  // Images
  //------------
  .wp-caption {
    display: block;
    width: 100%;
    margin-bottom: 15px;

    &.aligncenter {
      position: relative;
      left: -20px;
      width: calc(100% + 40px);
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 5px;
    }
    .wp-caption-text {
      font-size: 12px;
      font-family: $whitneyFonts;
      font-weight: 500;
    }
    br {
      display: none;
    }

    @media (min-width: $mobile) {
      display: inline-block;
      width: 46% !important;

      &.alignnone {
        display: block;
        width: 100% !important;

        img {
          width: 100%;
        }
      }

      &.alignright {
        float: right;
        margin: 9px 0 10px 20px;

        img {
          &.far-right {
            position: relative;
            left: 5%;
            padding-top: 9px;
          }
        }
      }
      &.alignleft {
        float: left;
        margin: 9px 20px 10px 0;

        img {
          &.far-left {
            position: relative;
            right: 5%;
            padding-top: 9px;
          }
        }
      }
      // Full-width image
      &.aligncenter {
        display: block;
        left: -25%;
        width: 150% !important;

        .wp-caption-text {
          @include tenWideCenter();
        }
      }
    }
  }
  // img {
  //   &.left-img,
  //   &.right-img {
  //     display: block;
  //     width: 100%;
  //     margin-bottom: 15px;
  //   }
  //   @media (min-width: $mobile) {
  //     &.left-img,
  //     &.right-img {
  //       display: inline-block;
  //       width: 46%;

  //       &.portrait {
  //         width: 57%
  //       }
  //     }
  //     &.left-img {
  //       float: left;
  //       margin: 9px 20px 10px 0;
  //     }
  //     &.right-img {
  //       float: right;
  //       margin: 9px 0 10px 20px;
  //     }
  //   }
  // }
  // figure {
  //   display: block;
  //   margin: 35px 0;

  //   img {
  //     display: block;
  //     width: 100%;
  //     margin-bottom: 5px;
  //   }
  //   figcaption {
  //     font-size: 12px;
  //     font-family: $whitneyFonts;
  //     font-weight: 500;
  //   }
  //   br {
  //     display: none;
  //   }
  // }
  // .far-right-img {

  //   @media (min-width: $mobile) {
  //     float: right;
  //     position: relative;
  //     left: 5%;
  //     display: inline-block;
  //     width: 40%;
  //     margin: 0 0 20px;
  //     padding-top: 9px;
  //   }
  // }
  // .full-width-image {

  //   img {
  //     position: relative;
  //     left: -20px;
  //     width: calc(100% + 40px);
  //   }

  //   @media (min-width: $mobile) {
  //     img {
  //       left: -25%;
  //       width: 150%;
  //     }
  //   }
  // }


  blockquote {
    @extend blockquote;
    display: block;
    position: relative;
    margin: 25px 0;


    p {
      display: inline;

      &:before {
        content: '“';
        position: absolute;
        top: 0;
        left: -0.4em;
      }
      &:after {
        content: '”';
      }
    }

    @media (min-width: $mobile) {
      p {
        display: inline-block;
        position: relative;
        width: 40%;
        margin: 0 0 10px;
        text-align: left !important;

        &[style="text-align: right;"] {
          float: right;
          left: 5%;
        }
        &[style="text-align: left;"] {
          float: left;
          right: 5%;
        }
      }


    } // end media-query
  }
}// end .article-section


.credits-section {
  @include tenWideCenter();
  margin: 75px auto;

  .divider-line {
    width: 40%;
    height: 2px;
    margin-bottom: 10px;
    background-color: $gold;
  }
  p {
    margin: 0;
    line-height: 1.5em;
    font-style: italic;
    color: $grey-light;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $mobile) {
    margin: 85px auto 75px;
  }
}


.more-section {
  @include tenWideCenter();

  .more-title {
    text-align: center;
  }
}