<section class="come-back-section">
  <h2>Come back to <em>Y<span class="quote">&rsquo;</span>all Collective</em> in a few weeks to see more stories.</h2>
  <h4>Know someone we should interview?</h4>
  <h4>Tag <a href="//www.instagram.com/yallcollective" target="_blank">@yallcollective</a> on Instagram.</h4>

  <div class="social-links">
    <a href="https://www.facebook.com" class="icon-facebook gold-icon" target="_blank"></a>
    <a href="https://www.twitter.com" class="icon-twitter gold-icon" target="_blank"></a>
    <a href="https://www.pinterest.com" class="icon-pinterest gold-icon" target="_blank"></a>
  </div>
</section>