<footer>
  <!-- <div class="subscribe-bar">
    <label for="subscribe-email">
      Subscribe to get the latest post in your inbox
      <input type="text" id="subscribe-email" name="subscribe-email">
    </label>
  </div> -->

  <div class="footer-body">
    <div class="footer-col">
      <div class="footer-title">Y'all Collective  &copy;</div>
      <div class="footer-copy">
        <p>We're tellin' the stories of creative New Yorkers with Southern roots - how they live, what they make, and why they're here</p>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-title">States</div>
      <div class="footer-list">
        <div class="list-item">
          <a href="#" class="disabled">Alabama</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">Arkansas</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">Florida</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">Georgia</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">Kentucky</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">Lousiana</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">Mississippi</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">North Carolina</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">South Carolina</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">Tennessee</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">Texas</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">Virginia</a>
        </div>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-title">Stay in Touch</div>
      <div class="footer-list">
        <div class="list-item top"><a href="mailto:hello
          @yall.co" class="disabled">#hello@yall.co</a>
        </div>
        <div class="list-item">
          <a href="#" class="disabled">Subscribe</a>
        </div>
        <div class="list-item">
          <a href="#">Instagram</a>
        </div>
        <div class="list-item">
          <a href="#">Twitter</a>
        </div>
        <div class="list-item">
          <a href="#">Pinterest</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="/js/app.js"></script>