  <meta charset="UTF-8">
  <meta name="themeColor" content="#bd9b37">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" sizes="152x152" href="/favicon-152.png" />
  <link rel="icon" sizes="16x16 32x32" href="/favicon-32.png" />
  <link rel="apple-touch-icon" href="favicon-152.png" />

  <!-- Webfonts -->
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7655474/6672752/css/fonts.css" />

  <link rel="stylesheet" charset="utf-8" href="/css/main.css">