<!-- Facebook -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1697959227110252',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<header>
  <a href="/" class="icon-logo"></a>
  <div class="mobile-btn">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <nav>
    <a href="#" class="nav-item disabled">PROFILES</a>
    <a href="#" class="nav-item disabled">Q&amp;A'S</a>
    <a href="#" class="nav-item disabled">ESSAYS</a>
    <a href="/about.html" class="nav-item">ABOUT</a>
  </nav>
  <div class="social-links">
    <a href="https://www.facebook.com/yallcollective" class="icon-facebook gold-icon" target="_blank"></a>
    <a href="https://www.twitter.com/yallcollective" class="icon-twitter gold-icon" target="_blank"></a>
    <a href="https://www.pinterest.com/yallcollective" class="icon-pinterest gold-icon" target="_blank"></a>
  </div>
</header>