
// GENERAL STYLES
//------------------------

* {
	box-sizing: border-box;
}
:focus {
	outline: none;
}
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}
main {
	max-width: 1400px;
	margin: 0 auto;
}
blockquote {
	margin: 0;
}

// GRID EDITS
//--------------------
[class*="col-"] {
	padding: 0;
	float: none;
}


// FORMS
// ------------------
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
	margin: 0;
	padding: 14px 12px;
	font-size: 1rem;
	font-family: $chronicleFonts;
	border: 1px solid $grey-lighter;
}
