
// GENERAL STYLES
//------------------------

* {
	box-sizing: border-box;
}
:focus {
	outline: none;
}
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}
body {
  padding-top: 58px;

  @media (min-width: $mobile) {
    padding-top: 0;
  }
}
main {
	max-width: 1400px;
	margin: 0 auto;
}
blockquote {
	margin: 0;
}
figure {
  margin: 0;
  padding: 0;
}

.quote-callout {
  width: 80%;
  min-width: 300px;
  margin: 130px auto;
  text-align: center;

  .quote-title {
    margin-bottom: 10px;
    font-size: 1rem; // 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: $gold;
  }

  @media (min-width: $mobile) {
    width: 66%;
    margin: 0 auto 160px;
  }
}

// COME BACK SECTION
//-----------------------
.come-back-section {
  max-width: 660px;
  margin: 0 auto;
  padding: 20px 20px 100px;
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }
  h4 {
    letter-spacing: 1px;
  }
  .social-links {
    margin-top: 35px;
    text-align: center;
  }

  @media (min-width: $mobile) {
    padding: 30px 0 140px;

    h2 {
      font-size: 2.25rem; // 45px;
      margin-bottom: 25px;
    }
    h4 {
      font-size: 1.2rem; // 24px
      font-weight: 400;
    }
    .social-links {
      margin-top: 40px;
    }
  }
}

// GRID EDITS
//--------------------
[class*="col-"] {
	padding: 0;
	float: none;
}


// MORE GRID
//------------------
.more-section {
  > h3 {
    text-align: center;
    margin: 0 0 30px;
  }
}
.more-grid {
  width: 100%;
  padding: 20px 0;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  @media (min-width: $mobile) {
    width: 83.33%;
    margin: 0 auto;
  }
}
.more-item {
  display: inline-block;
  float: left;
  width: calc(50% - 10px);
  margin-bottom: 40px;

  &:nth-child(odd) {
    margin-right: 20px;
  }

  img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .item-copy {
    text-align: left;

    .item-type {
      margin: 0;
      font-size: 0.85rem;

      .divider {
        display: inline-block;
        margin: 0 6px;
      }
      p {
        display: inline-block;
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1em;
      }
    }
    .item-title {
      font-size: 1.4rem;
      margin-bottom: 6px;
    }
    .item-author {
      display: none;
    }
    .item-route {
      font-size: 0.7rem;
    }
  }

  @media (min-width: $mobile) {
    margin-bottom: 50px;
    
    img {
      margin-bottom: 15px;
    }
    .item-copy {
      .item-type {
        margin-bottom: 11px;
      }
      .item-author,
      .item-title {
        display: inline-block;
        font-size: 1.2rem;
      }
      .item-title {
        margin-right: 10px;
      }
      .item-route {
        font-size: 1rem;
      }
    }
      
  }
} // end .more-item



// FORMS
// ------------------
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
	margin: 0;
	padding: 14px 12px;
	font-size: 1rem;
	font-family: $chronicleFonts;
	border: 1px solid $grey-lighter;
}
