
// HOME
// ---------------

.home {

  main {
    position: relative;
  }

  .back-letter {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    font-size: 50px;
    color: $offWhite;
    font-family: $whitneyFonts;
    font-weight: 700;
    // transition: opacity 1s, transform 1.3s;
    @include transition(1.5s);

    &.hide {
      opacity: 0;
      @include transform( translateY(-70px) );
    }

    &.letter-1 {
      top: 30%;
      left: 30%;
    }
    &.letter-2 {
      top: 34%;
      left: 57%;
    }
    &.letter-3 {
      top: 40%;
      left: 68%;
    }
    &.letter-4 {
      top: 43%;
      left: 20%;
    }
    &.letter-5 {
      top: 50%;
      left: 3%;
    }
    &.letter-6 {
      top: 57%;
      left: 21%;
    }
    &.letter-7 {
      top: 61%;
      left: 77%;
    }
    &.letter-8 {
      top: 66%;
      left: 70%;
    }
    &.letter-9 {
      top: 73%;
      left: 79%;
    }
    &.letter-10 {
      top: 84%;
      left: 60%;
    }
    &.letter-11 {
      top: 86%;
      left: 14%;
    }
    &.letter-12 {
      top: 90%;
      left: 72%;
    }
    &.letter-13 {
      top: 93%;
      left: 29%;
    }
    &.letter-14 {
      top: 95%;
      left: 61%;
    }

    @media (min-width: $mobile) {
      font-size: 100px;
    }
  }

  .featured-items {
    margin-bottom: 50px;

    @media (min-width: $mobile) {
      width: 83.33%;
      margin: 0 auto 100px;

      .feature-item {

        &:nth-child(odd) {
          .float-cont {
            float: right;
          }
          .item-copy {
            left: 40%;
          }
        }
        &:nth-child(even) {
          .float-cont {
            float: left;
          }
          .item-copy {
          }
        }

        &.portrait {
          .float-cont {
            width: 50%;
            max-width: 340px;
          }
          img {
            width: 100%;
            height: auto;
          }
          &:nth-child(odd) {
            .float-cont {
              margin-right: 20%;
            }
            .item-copy {
              left: -66%;
            }

          }
          &:nth-child(even) {
            .float-cont {
              margin-left: 20%;
            }
            .item-copy {
              left: 110%;
            }
            
          }
        }

        &.landscape {
          .float-cont {
            width: 50%;
            max-width: 580px;
          }
          img {
            width: 100%;
            height: auto;
          }
          &:nth-child(odd) {
            .float-cont {
              position: static;
            }
            .item-copy {
              left: 0;
            }

          }
          &:nth-child(even) {
            .item-copy {
              left: 105%;
            }
            
          }
        }

      } // end .feature-item
    } // end media query
  } // end .featured-items

  .feature-item {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 120px;
    color: $text-color;

    .img-container {
      display: block;
    }
    img {
      display: block;
      width: 100%;
      margin-bottom: 40px;
    }
    .item-copy {
      padding: 0 20px;
      text-align: left;

      .item-type {
        margin-bottom: 20px;
        font-weight: 700;

        .divider {
          display: inline-block;
          margin: 0 6px;
          font-weight: 700;
        }
        p {
          display: inline-block;
          margin: 0;
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1em;
          letter-spacing: 0;
        }
        @media (max-width: $mobile) {
          font-size: 0.8rem;
        }
      }
      .item-title {
        display: block;
        @extend h2;
        margin-bottom: 0;
        color: $text-color;

        @media (max-width: $mobile) {
          line-height: 1.2em;
        }
      }
      .item-author {
        margin-bottom: 27px;
      }
      .item-route {
        position: relative;
        padding: 5px 0 0;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 60px;
          height: 2px;
          background-color: $text-color;
        }
        @media (min-width: $mobile) {
          padding: 8px 0 0;
        }
      }
    }

    &.hero {
      margin-bottom: 70px;
      text-align: right;
    }

    @media (min-width: $mobile) {
      margin-bottom: 100px;
      border: none;

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      .float-cont {
        position: relative;
      }
      .img-container {
        display: inline-block;
        border: none;

        &:hover {
          border: none;

          & + .item-copy {
            .item-title {
              color: $gold;

              // &:after {
              //   right: 0;
              // }
            }
          }
        }
      }
      img {
        display: block;
        margin-bottom: 0;
        // dimensions defined above, in portait/landscape
      }
      .item-copy {
        padding: 0;
        display: inline-block;
        text-align: left;
        pointer-events: none;

        .item-type {
          margin-bottom: 38px;
          font-size: 1rem;
        }
        .item-title {
          display: inline-block;
          position: relative;
          overflow: hidden;
          @include transition(0.6s);
          pointer-events: auto;
          border: none;

          // &:after {
          //   content: '';
          //   position: absolute;
          //   bottom: 0;
          //   right: 100%;
          //   display: inline-block;
          //   width: 100%;
          //   height: 1px;
          //   background-color: $gold;
          //   @include transition(0.8s);
          // }
          &:hover {
            border: none;
            color: $gold;

            // &:after {
            //   right: 0;
            // }
          }
        }
        .item-author {
          margin-bottom: 43px;
        }
        .item-route {
          position: relative;
          padding: 10px 0;

          &:before {
            width: 90px;
            height: 3px;
          }
        }
      }

      .item-copy {
        @include yCenter();
        z-index: 2;
        min-width: 400px;
      }

      // HERO
      &.hero {
        margin-bottom: 190px;
        text-align: right;

        .img-container {
          width: 83.33%;
          display: inline-block;
        }
        img {
          display: block;
          width: 100%;
        }
        .item-copy {
          left: 8.33%; // 1/12th
        }
      }

    } // end media query
  } // end feature-item


}
  