
// NAV
//-----------

header {
  padding-top: 70px;
  text-align: center;

  .icon-logo {
    display: inline-block;
    margin-bottom: 20px;

    &:before {
      font-size: 60px;
      color: $gold;
    }
  }
  nav {
    width: 100%;

    .nav-item {
      display: inline-block;
      padding: 5px 15px;
      @extend h6;
    }
  }

  &.sticky {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 33px 30px 30px;
    text-align: center;
    background-color: $white;
    box-shadow: 0 0 15px #f1f1f1;

    .icon-logo {
      float: left;
      margin: 0;

      &:before {
        font-size: 30px;
        color: $gold;
      }
    }
    nav {
      display: inline-block;
      width: auto;

      .nav-item {
        padding: 5px 20px;
      }
    }
    .social-links {
      display: inline-block;
      float: right;

      a {
        display: inline-block;
      }
    }
  }

  @media (min-width: $mobile) {
    nav {
      .nav-item {
      }
    }
  }
}