
// NAV
//-----------

header {
  text-align: center;

  .logo {
    display: inline-block;
    height: 60px;
    width: auto;
    margin-bottom: 20px;
  }
  nav {
    width: 100%;

    .nav-item {
      display: inline-block;
      padding: 5px 15px;
      @extend h6;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    text-align: center;
    background-color: $white;

    .logo {
      float: left;
    }
    nav {
      display: inline-block;
      width: auto;

      .nav-item {
        padding: 5px 20px;
      }
    }
    .social-links {
      display: inline-block;
      float: right;

      a {
        display: inline-block;
      }
    }
  }

  @media (min-width: $mobile) {
    nav {
      .nav-item {
      }
    }
  }
}