
// NAV
//-----------

header {
  padding-top: 70px;
  margin-bottom: 40px;
  text-align: center;
  @include transition();

  .icon-logo {
    display: inline-block;
    margin-bottom: 20px;

    &:before {
      font-size: 60px;
      color: $gold;
      @include transition();
    }
    &:hover {
      border: none;
      color: $gold;
    }

    @media (min-width: $mobile) {
      border-bottom: none;

      &:hover {
        border-bottom: none;

        &:before {
          color: $black;
        }
      }
    }
  }
  nav {
    width: 100%;

    .nav-item {
      display: inline-block;
      padding: 6px 15px 5px;
      color: $text-color;
      @extend h6;
      font-weight: 500;
      font-size: 0.75rem;

      &.current {
        color: $gold;
      }
      &.disabled {
        color: $grey-light;
        pointer-events: none;
      }
    }

    @media (min-width: $mobile) {
      .nav-item {
        position: relative;
        overflow: hidden;
        padding: 7px 0 5px;
        margin: 0 15px;
        border: none;
        
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: -100%;
          display: inline-block;
          height: 1px;
          width: 100%;
          background-color: $gold;
          @include transition(0.7s);
        }
        &:hover {
          &:before {
            left: 0;
          }
        }
      }
    }
  }
  .social-links {
    display: none;
  }

  @at-root .sticky {
    padding-top: 195px;
  }

  @at-root .sticky & {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 33px 30px 30px;
    text-align: center;
    background-color: $white;
    box-shadow: 0 0 15px #f1f1f1;

    .icon-logo {
      float: left;
      margin: 0;

      &:before {
        font-size: 30px;
        color: $gold;
      }
    }
    nav {
      display: inline-block;
      width: auto;

      .nav-item {
        padding: 5px 0;
        margin: 0 20px;
      }
    }
    .social-links {
      display: inline-block;
      float: right;

      a {
        display: inline-block;
      }
    }
  }

}